.zoom-bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1564657619769-5089a5877f1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");
  background-position: center;
}

@media only screen and (min-width: 990px) {
  .zoom-bg {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1564657619769-5089a5877f1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    animation-name: zoom-in-out;
    animation-duration: 15s; /* ajusta la duración de la animación según sea necesario */
    animation-iteration-count: infinite; /* hace que la animación se repita indefinidamente */
    animation-direction: alternate; /* hace que la animación se repita en ambas direcciones */
  }

  @keyframes zoom-in-out {
    0% {
      background-size: 120%; /* tamaño de la imagen de fondo en el inicio de la animación */
    }
    50% {
      background-size: 150%; /* tamaño de la imagen de fondo en el punto medio de la animación */
    }
    100% {
      background-size: 180%; /* tamaño de la imagen de fondo al final de la animación */
    }
  }
}
